body{
    background-image: url(img/bg.jpg);
}

.elem{
    width: 8px;
    height: 8px;
    background-color: red;
    position: relative;
    border-radius: 8px;
    pointer-events:auto;
    opacity: 0;
}

.elem:hover{
    cursor: pointer;
}

.diff{
    position: absolute;
    top: 30%;
    left: 27%;
    background-color: white;
}

.diff button img{
    transition: transform 0.2s ease-in-out;
}

.diff button img:hover{
    transform: scale(1.2);
    cursor: pointer;
}